:root {
  cursor: url(http://cur.cursors-4u.net/user/use-1/use160.cur), progress;
  background-image: url(https://srbin.info/wp-content/uploads/2016/11/balkan-info-milan-tarot-vucica-c.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  -webkit-background-size: cover;
  /* For WebKit*/
  -moz-background-size: cover;
  /* Mozilla*/
  -o-background-size: cover;
  /* Opera*/
}

@media only screen and (max-width: 600px) {
  :root {
    background-image: url(https://lh3.googleusercontent.com/proxy/B1hunBJwmDJ-kTf5Qg0se0-e8LTUkRwnElaGyBIFz6sZIBLOL2Ux02hdNWbUfd5nVoKVaVrLeIjpznl0MbGe5E_TYLqurV_RxpyU9FbOF2hqSuhr9Yayu4OqcQ);
    background-size: cover;
    -webkit-background-size: cover;
    /* For WebKit*/
    -moz-background-size: cover;
    /* Mozilla*/
    -o-background-size: cover;
  }
}
body {
  color: white;
  font-family: "Amatic SC", cursive;
}

.container {
  text-align: center;
  margin: 20% 10% 10% 10%;
}
@media only screen and (max-width: 600px) {
  .container{
    margin: 50% 10% 10% 10%;
  }
   }

h1 {
  top-margin: 1%;
  font-size: 3em;
}

h1, h2 {
  text-align: center;
  text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #c542f5, 0 -10px 20px #9342f5, 0 -18px 40px #463af0, 6px 6px 4px rgba(5, 2, 1, 0);
}

h2 {
  font-size: 2em;
  margin: 0 10% 0 10%;
  background-color: rgba(0, 0, 0, 0.6);
}

input {
  text-align: center;
  width: 10em;
  height: 40px;
  margin: 40px;
  font-family: "Amatic SC", cursive;
  font-size: 2em;
  box-shadow: 0 0 30px 15px #fff, 0 0 50px 30px #f0f, 0 0 70px 45px #0ff;
}

button {
  background-color: #4f4978;
  background-image: -moz-linear-gradient(90deg, #8f88c7, #4f4978);
  background-image: -ms-linear-gradient(90deg, #8f88c7, #4f4978);
  background-image: -o-linear-gradient(90deg, #8f88c7, #4f4978);
  background-image: -webkit-linear-gradient(90deg, #8f88c7, #4f4978);
  background-image: linear-gradient(90deg, #8f88c7, #4f4978);
  color: #ffffff;
  display: inline-block;
  font-size: 1.5em;
  font-family: "Amatic SC", cursive;
  border-radius: 25px;
  box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #0ba9ca, 0 0 30px #0ba9ca, 0 0 40px #0ba9ca, 0 0 50px #0ba9ca;
  -webkit-animation: blink 0.7s infinite alternate;
  animation: blink 0.7s infinite alternate;
}

button:hover {
  background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
  cursor: url(http://cur.cursors-4u.net/user/use-1/use160.cur), progress;
}

@-webkit-keyframes blink {
  100% {
    box-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ba9ca, 0 0 70px #0ba9ca, 0 0 80px #0ba9ca;
  }
}
@keyframes blink {
  100% {
    box-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ba9ca, 0 0 70px #0ba9ca, 0 0 80px #0ba9ca;
  }
}
